@model CvSitem.Models.Siniflar.Egitim
@{
    ViewBag.Title = "EgitimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Eğitim Güncelleme</h2>
<br />

@using (Html.BeginForm("EgitimGuncelle", "Egitim", FormMethod.Post))
{
    <div class="form-group">

        @Html.HiddenFor(x => x.ID)

        <label>Okul</label>
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
        <br />

        <label>Bölüm</label>
        @Html.TextBoxFor(x => x.AltBaslik, new { @class = "form-control" })
        <br />

        <label>Alan</label>
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
        <br />

        <label>Ortalama</label>
        @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
        <br />

        <label>Mezuniyet Tarih</label>
        @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
        <br />

    </div>

    <div>
        <button class="btn btn-primary">Güncelle</button>
    </div>
}

